// Copyright © 2024 Navarrotech

.today

    .mealGroup
        position: relative

        .groupTitle
            position: absolute
            margin: 0 !important
            top: 0
            bottom: 0
            left: -3.3em

            user-select: none

            width: 160px

            display: flex
            align-items: center
            justify-content: center

            span
                display: block
                transform: rotate(-90deg)
                transform-origin: 0, 0

        .meal
            display: flex
            justify-content: space-between
            align-items: center

            .cover
                height: 100%
                width: 33%
                background-size: cover
                background-position: center
                overflow: hidden

            .titles
                padding: 0.5em 0
                height: 100%
                width: 33%

            .health
                height: 100%
                width: 33%

            &:nth-child(2) .cover
                border-top-left-radius: 6px
                border-top-right-radius: 6px
            
            &:last-child .cover
                border-bottom-left-radius: 6px
                border-bottom-right-radius: 6px